
.order-item img{
    
    border-radius: 20px;
}


.order-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 2px 3px #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
.order-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.orders-card{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px 0;
    box-sizing: border-box;
}